@import "src/typography/colors";

.container {
  display: flex;
  border-bottom-style: solid;
  width: 100%;
  align-items: center;
  border-color: $black;
}

.dateTimeText {
  margin: 0;
  border-right-style: solid;
  padding: 5px 30px;
  border-color: $black;
}

.temperatureText {
  margin: 0;
  text-align: center;
  padding: 5px 30px;
}

.coldTemperatureContainer {
  @extend .container;
  color: $blue;
}

.hotTemperatureContainer {
  @extend .container;
  color: $red;
}